
:root{
    --bgcolor-1 : #fff;
    --bgcolor-2:#eeeeee;

    --textcolor-1 : #000000;
    --textcolor-2 : #323735;
    --textcolor-3 : #626966;
    
    --fontweight-6 : 600;
    --fontweight-5 : 500;
    --fontweight-4 : 400;
    --fontweight-3 : 300;
    --fontweight-2 : 200;
    --fontweight-1 : 100;

}

body.dark{
    --bgcolor-2 : #000000;
    --bgcolor-1:#373d3e;

    --textcolor-1 : #fff;
    --textcolor-2 : #eeeeee;
    --textcolor-3 : #b8b8b8;
}